body {
    font-family: sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

.dz-progress {
    visibility: hidden;
}

#dropzone {
    border-color: #21a8d6;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #c0d8e4 inset;
}

#solver-ui {
    display: none;
}

.dz-message {
    font-size: 20pt;
}
